.worldmap {
  flex: 1 0 70%;
  border: 8px solid darken($color: #282c34, $amount: 5);;
  border-radius: 1.2rem;
}

.leaflet-container {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.leaflet-popup {
  border-radius: 0.5rem;

  &-content-wrapper {
    background-color: #282c34;
    color: white;
  }

  &-tip {
    background-color: #282c34;
  }
}

.popup {
  justify-content: center;
  background-color: #282c34;

  &__title {
    margin: 0;
    text-align: center;
  }

  &__subtitle {
    margin: 0;
    text-align: center;
  }

  &__info {
    margin-top: 1rem;

    .row {
      margin-top: 0.2rem;
      padding: 0.3rem 0.5rem;
      display: flex;
      justify-content: space-between;
      background-color: darken($color: #282c34, $amount: 10);
      border-radius: 0.5rem;

      div:first-child {
        margin-right: 1rem;
      }
    }
  }
}
